#searchResults {
  display: flex;
  flex-wrap: wrap;
}

.movie-mini-card {
  max-width: 18%;
  margin: 1%;
  position: relative;
  padding-bottom: 50px;
}

.movie-mini-card .button-group {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3%;
  left: 0;
}

.movie-mini-card .card-body {
  flex: none;
}

#movies .card {
  cursor: pointer;
}

.editable {
  position: relative;
  cursor:pointer;
}

.editable:hover:before {
  content: 'click to edit';
  position: absolute;
  right: 0;
  height: auto;
  width: auto;
  background: #e4e4e4;
  color: #8e8e8e;
  font-size: 9px;
  padding: 3px 5px;
  display: inline-block;
  border-radius: 3px;
}